.graph-select-panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.options-tab {
    cursor: pointer;
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    background: #2E4A39;
    color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.options-tab:hover {
    transform: translateY(-2px);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}

.options-tab:active {
    transform: translateY(2px);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

@media (max-width: 900px) {

    .options-tab {
        margin: .5rem;
        padding: .75rem 1.25rem;
    }
}